.categories-block {
    background: $dark;
    margin-bottom: 23px;
    @include md {
        margin-bottom: 8px;
    }
    &__container {
        height: 128px;
        display: flex;
        justify-content: center;
        gap: 10px;
        @include md {
            overflow-x: auto;
            justify-content: start;
        }
    }
    &__item {
        height: 100%;
        display: flex;
        gap: 11px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        &:hover {
            background: #41444c;
        }
    }
    &__icon {
        height: 49px;
    }
    &__name {
        text-align: center;
        color: $white;
        font-size: 13px;
    }
}
