/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
/*Обнуление*/

/*Шрифты*/
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Regular.woff2"), url("../fonts/SFProDisplay-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Semibold.woff2"), url("../fonts/SFProDisplay-Semibold.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay-Bold.woff2"), url("../fonts/SFProDisplay-Bold.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
/*Шрифты*/

/*Переменные*/
$white: #ffffff;
$background: #f5f5f7;
$dark: #2c3038;
$warning: #ce2329;
/*Переменные*/

/*Общие стили*/
body {
    font-family: "SF Pro Display";
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 12px;
    margin: 0 auto;
}
.promo-block {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 12px;
    &__background {
        max-width: 100%;
    }
}
.arrow {
    display: block;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    &-warning {
        border-top: 2px solid $warning;
        border-right: 2px solid $warning;
    }
    &-white {
        border-top: 2px solid $white;
        border-right: 2px solid $white;
    }
}
.title-block {
    color: $dark;
    margin: 0 auto;
    font-size: 22px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &.white {
        color: $white;
    }
    &_top {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    &_left {
        position: absolute;
        top: 50%;
        left: 160px;
        transform: translateY(-50%);
    }
    &_bottom {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__pretitle {
        font-weight: 600;
        &.warning {
            color: $warning;
        }
    }
    &__title {
        font-size: 48px;
        font-weight: 600;
    }
    &__link-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 220px;
    }
    &__link {
        margin-top: 15px;
        gap: 5px;
        display: flex;
        align-items: center;
        &_warning {
            color: $warning;
        }
        &_white {
            color: $white;
        }
    }
}
.logos-block {
    padding: 20px 0;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.promo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    &__item {
        position: relative;
        max-height: 740px;
        max-width: 702px;
        overflow: hidden;
    }
    &__img {
        width: 100%;
    }
    &__link_warning_bottom {
        font-size: 22px;
        color: $warning;
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        gap: 5px;
        display: flex;
        align-items: center;
    }
    .title-block {
        width: 100%;
        max-width: 568px;
    }
    .title-block_top {
        top: 51px;
    }
}
/*Общие стили*/

@import "_header.scss";
